body{
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.header-section{
    height: 675px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
        url('images/donation14.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cover-div{
    color: white;
    text-align: center;
    padding-top: 170px;
    
    
}
#cover-div h1{
    font-size: 60px;
}
#cover-div p{
    margin-bottom: 50px;
}
.link-btn{
    text-decoration: none;
    background-color: #FF5959;
    align-content: center;
    padding: 15px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.donate-today{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}
.all-h1-except-top{
    font-size: 40px;
}
.donation-amount-parent{
    display: flex;
    justify-content: center;
  
}
.tk-amount{
    width: 130px;
    margin: 20px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 30px; 
    
}
.donation-amount-parent div h4{
    color:black;
    text-align: center;
}
#div-200tk{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}
#div-200tk h4{
    color: #FF5959;
}
.taka-input-div{
    
    display: flex;
    justify-content: center;
}
input[type="text"]{
    width: 810px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: none;
    border-bottom: 2px solid #B8B8B8;
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: 17px;
    line-height: 3;
    color: #B8B8B8;
    
}

:-moz-placeholder {
    text-align: center;
    font-size: 17px;
    line-height: 3;
    color: #B8B8B8;
}
#second-btn-div{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.basic-needs{
    width: 300px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    
}
.basic-needs img{
    margin-top: 50px;
}
#food{
    background-color: #EDF5F6;
}
#shelter{
    background-color: #FFEEEE;
}
#education{
    background-color: #FFF4D6;
}

.news-container{
    display: flex;
    justify-content: center;
    
}
.news{
    width: 360px;
    margin-top: 20px;
    margin-left:20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    word-wrap: break-word;
    box-shadow: 4px 4px 4px gray;
}
.news p{
    padding-left: 20px;
}
.news-headline{
    font-weight: 700;
}
.news a{
    padding-left: 20px;
    margin-bottom: 100px;
    text-decoration: none;
    
}
#more-news-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.news-btn{
    background-color: rgb(94, 94, 231);
}

#email-parent{
    display: flex;
    justify-content: center;
}
#email-div{
    width: 730px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #FFF4D6;
}

#email{
    width: 30%;
    padding: 12px;
    margin: 0%;
    margin-top: 90px;
    background-color: #D9D9D9;
    border: none;
    
}

#submit-btn{
    width: 20%;
    padding: 12px;
    margin: 0%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FF5959;
    color: white;
    
}
footer{
    background-color: black;
    height: 150px;
}
footer h2{
    padding-top: 50px;
    color: #FF5959;
    text-align: center;
    font-style: italic;
}
footer p{
    color: white;
    text-align: center;
    font-size: 10px;
}