body{
    font-family: 'Merriweather', serif;
    margin: 0px;
    background-color: white;
}
.header-section{
    height: 675px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
        url('images/donation14.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cover-div{
    color: white;
    text-align: center;
    padding-top: 170px;
    
    
}
#cover-div h1{
    font-size: 60px;
}
#cover-div p{
    margin-bottom: 50px;
}
.link-btn{
    text-decoration: none;
    background-color: #FF5959;
    align-content: center;
    padding: 15px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.donate-today{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}
.all-h1-except-top{
    font-size: 40px;
}
.donation-amount-parent{
    display: flex;
    justify-content: center;
  
}
.donation-amount-parent div{
    width: 130px;
    margin: 20px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 30px; 
    
}
.donation-amount-parent div h4{
    color:black;
    text-align: center;
}
#div-200tk{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}
#div-200tk h4{
    color: #FF5959;
}
.taka-input-div{
    
    display: flex;
    justify-content: center;
}
input[type="text"]{
    width: 810px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: none;
    border-bottom: 2px solid #B8B8B8;
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: 17px;
    line-height: 3;
    color: #B8B8B8;
    
}

:-moz-placeholder {
    text-align: center;
    font-size: 17px;
    line-height: 3;
    color: #B8B8B8;
}
#second-btn-div{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}